<app-header [isMain]="true"></app-header>
<div class="contain body">

  <hr class="bump main">

<p class="largo">Unreleased material, finalized and collected into a four volume set including instrumentals, songs, and random memories.</p>

<p><a (click)="getAlbum('D/EC/AD/E Full')" href="https://mega.nz/#!k3Y1zB4B!psB6VUcJxL1lxQI5BLD2CYpWlpNxnCz86OU_3hUlSz4" target="_blank" class="button full">download all four volumes <b>(521MB)</b></a></p>

<div class="thumbs">
  <span routerLink="/d1"><em>D/1 <i>2006-07</i></em><img src="./images/decade-a.jpg" alt="Dan Cruzat - D/EC/AD/E/1"></span>
  <span routerLink="/d2"><em>D/2 <i>2008-10</i></em><img src="./images/decade-b.jpg" alt="Dan Cruzat - D/EC/AD/E/2"></span>
  <span routerLink="/d3"><em>D/3 <i>2011-13</i></em><img src="./images/decade-c.jpg" alt="Dan Cruzat - D/EC/AD/E/3"></span>
  <span routerLink="/d4"><em>D/4 <i>2014-16</i></em><img src="./images/decade-d.jpg" alt="Dan Cruzat - D/EC/AD/E/4"></span>
</div>

<p>For the most part, this work was done without intention. I write because I write, I play because I play, I record because I record. Just things that I do. </p>

<p>I once heard it said that the album has joined, and to an extent replaced, the book as the medium by which an average artist would document their time. I have compiled this all to document a time when my focus with music and sound was just to keep making and shelving. It's been a greatly cathartic experience to collect it all together.</p>

<p>This material was never planned out as a cohesive collection, the dividing lines along the four volumes determine when a piece was first conceived or written, although it may have been completed or recorded at a later date.</p>

<p>The word album doesn't really work, but neither does mixtape. An album requires a thesis, an identity, structure. The only thesis that applies here is "I made some shit from ___ to ___." Mixtape implies a push or promotion, you feed the scene to keep your name buzzing. The people I care about will hear them, further recognition would be nice but is not a requirement. </p>

<p>I consider these audio notebooks. Some doodles are far more elaborate than others, but the four hours' lattice tells a story over ten years. I wanted to share it so that anyone who was curious about whatever happened with me could get a few answers. This really is for my old friends, hopefully some newer friends will enjoy it too.</p>

<p>The first 10 years that I spent in Portland changed so many things in my life. I found success in my career, a new voice as an artist, new roots in Cascadia. Portland became my home. And at the end of the 10 years... Some changes so profound that the word "change" does them no justice.</p>

<p></p>

</div>
<app-footer [navBG]="'footer clear'"></app-footer>


