<app-header [isMain]="true"></app-header>
<div class="contain body">


  <hr class="bump main">

<p class="largo">Unreleased and incomplete material, finalized and collected into a four volume set including instrumentals, songs, sketches and random memories.</p>

<!-- <h1>Dan Cruzat - D/EC/AD/E/1</h1> -->
<div class="thumbs">
  <span routerLink="/d1"><em>D/1</em><img src="./images/decade-a.jpg" alt="Dan Cruzat - D/EC/AD/E/1"></span>
  <span routerLink="/d2"><em>D/2</em><img src="./images/decade-b.jpg" alt="Dan Cruzat - D/EC/AD/E/2"></span>
  <span routerLink="/d3"><em>D/3</em><img src="./images/decade-c.jpg" alt="Dan Cruzat - D/EC/AD/E/3"></span>
  <span routerLink="/d4"><em>D/4</em><img src="./images/decade-d.jpg" alt="Dan Cruzat - D/EC/AD/E/4"></span>
</div>

<p>For the most part, this work was done without intention, connections between words and sounds find themselves in habit. I write because I write, I play because I play, I record because I record. It has greater value to me as a marker of my time than as any sort of commercial enterprise.</p>

<p>I once heard it said that the album has joined, and to an extent replaced, the book as the medium by which an average artist would document their time. </p>

<p>This material was never planned out as a cohesive collection, the dividing lines along the four volumes determine when a piece was first conceived or written, although it may have been completed or recorded at a later date.</p>

<p>The stages of life as a human are reflected in the stages of life as an artist. This was a stage of true growth for me, following a prolonged period in amber, trying to contain a moment. It is a trip-up of youth to believe itself perpetual.</p>

<p>The first 10 years that I spent in Portland changed so many things in my life. I found success in my career, a new voice as an artist, new roots in Cascadia. Portland became my home. And at the end of the 10 years, I found out I was going to become a father. Changes so profound that the word "change" does them no justice.</p>

<p>An early lesson remains: Change is the Only Constant.</p>

  <hr class="bump">

</div>
<app-footer [navBG]="'footer clear'"></app-footer>


