<app-header [navBG]="'sub-d'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2014-2016</h2>

<app-band-box
  [img]="'decade-d.jpg'"
  [alt]="'D/EC/AD/E/4'"
  [by]="'by Dan Cruzat'"
  ></app-band-box>

<p><a href="./decade-4.zip" class="button">download</a></p>

<h2>Credits</h2>
<p>Errythang written an produced by D Cruzat, 2014-2016<br>
essep ? produced by B Gunn<br>
an ? produced by <!-- D Cruzat &amp; J Grubman ( -->S Campbell<!-- ) --><br>
recorded, <br>
mixed and mastered Sept-Oct 2016</p>

<h2>D4dication</h2>
<p>This chapter is for Jody Minnoch &amp; Robin Balmer. We don't realize how fragile and fleeting life is until it ends.</p>

<h2>Thanks / Shouts</h2>
<p>Cassie &amp; Andrew K, such a small world we live in. </p>

<p>Pro shouts to Ellsworth, Tiffany J, Andrew B / Periscope, Ben F / The Brigade, Eric C, Jason C, Kate U, Michael W, Gregor H, Sean S, Steve I, Alex R</p>

<p class="h2">For years, I lived in an apartment just off of Foster Rd. I repaired myself, reconnected with my self, regenerated myself. Even now the neighborhood is beginning to change from the one that I knew, but a piece of it is frozen in amber in my heart, a shining glory I will carry with me.</p>

<p class="h2">Hello Jacqueline. Finding out you were going to arrive was the perfect bookend.</p>


  <hr class="bump">

</div>
<app-footer [navBG]="'footer sub-d'"></app-footer>
