<app-header [navBG]="'sub-d'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2014-2016</h2>

<app-band-box
  [img]="img"
  [alt]="title"
  [by]="by"
  [src]="src"
  [lnk]="lnk"
  [dl]="dl"
  [sz]="sz"
  [col]="col"
  [ded]="ded"
  [tracks]="tracks"
  ></app-band-box>

<h2 class="h2">Credits</h2>
<p>Errythang written an produced by D Cruzat, 2014-2016<br>
essep 20 produced by D Cruzat &amp; B Gunn<br>
an 29 adapted by D Cruzat from "#STUPiDFACEDD" by Wallpaper.<br>
an 31 adapted by D Cruzat from "Inbetween Days" by R Smith</p>

<h2>Equipment</h2>
<p>MPC-2500, ASR-10, Renaissance, Proteus 2K, SP-404, NT1A, SM58. Live.</p>

<h2>Thanks / Shouts</h2>
<p>All my Chicago peeps that stepped up when I needed them -- Trev &amp; Lisa SdB, Nat &amp; Estelle F, Jason H, Jake R, Elaine Joy, Julia Justice, Squeeky L, Little Bird, The Mighty Kah. Thank you Geordi for having a drink and a laugh. The rocks at Main Street beach will always be with me. The E.</p>

<p>A bittersweet transition to realize your home town is no longer your home.</p>

<h2>Thank You Foster Road</h2>
<p>Cassie &amp; Andrew K, such a small world we live in. Tim &amp; Beth M, Andy &amp; Cecelia H, The New FoPo Fam. Dylan C, whose fate was inextricably linked with Cascadia. Annette R, Queen of Assassins. The kids upstairs whose names I never learned, party on. Alex, Andy(s), Jade, and the rest of next generation Speedboat. All the characters in the Flying 15. An Xuyen Bakery for keeping me fat since 08. The team at Lauretta Jean's for doing their part.</p>

<p>Ellsworth and Cruzat, 20-12 til Infinity. We run Bartertown</p>

<p>Pro shouts to Tiffany J, Andrew B / Periscope, Ben F / The Brigade, Sunyi K, Eric C, Jason C, Kate U, Michael W, Mark A, Gregor H, Sean S, Steve I, Alex T, Russ GH (RIP)</p>

<p>Special shoutout to every client I dropped.</p>

<p class="h2">I was sitting on a bench facing The City, the lights of the north side reflected in Lake Michigan. I realized we had become strangers, the skyline looking like someone I used to know. The anxieties and preconceptions of my former life were gone, The City asked me, "Who are you?"</p>

<p class="h2">For years, I lived in an apartment on Center. Rebuilding and remembering myself. Even now the neighborhood has changed from the one that I first knew, we've grown older together. One day I realized that I had put down new roots. My golden road.</p>

<p class="h2">Hey J. Finding out you were going to arrive was the perfect bookend.</p>

</div>
<app-footer [navBG]="'footer sub-d'"></app-footer>
