
@import '../../../styles/mixins';

.header {
}

.header h1 {
  font-size: 2.6rem;
  background: #000;
  height: 60px;
    color: #ddd;
    text-align: center;
    width: 100%;
    font-weight: 100;
    line-height: 1.65;
    letter-spacing: .6rem;
    font-family: "Avenir Next LT Pro";
  @include width-above($sz-xs) {
  }

  @include width-above($sz-sm) {
    font-size: 4em;
    height: 66px;
    line-height: 1.2;
  }

  .bg {
    background-size: cover;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.9; z-index: 1;
  }
  .tex {
    position: relative; z-index: 2;line-height: 1.25; cursor: pointer;
  }
}

.header h1 .bg {
  display: none;
}

.header h3 {
  height: 0px;
}

.header.main {
  h1 {
    text-transform: uppercase;
    height: 62px;
    overflow: hidden;
    border-top: 1px solid #444;
    position: relative;

    @include width-above($sz-med) {
      font-size: 7.04em;
      height: 114px;
    }
  }

  h3 {
    color: #999;
    color: #aaa;
    width: 100%; text-align: center;
    background: rgba(0, 0, 0, 0.8);
    line-height: 1.2;
    text-transform: uppercase;
    font-family: "Avenir Next LT Pro";
    font-size: 0.75em;
    box-shadow: 0 0 4px #fff;

    height: 18px;
    padding-top: 4px;
    br {
      display: none;
    }
    @include width-above($sz-med) {
      line-height: 1.6;
      font-size: 1em;
      overflow: hidden;
      height: 28px;
      padding-top: 4px;
    }
  }
}

  .header nav {
    height: auto;
  }

