@font-face {
  font-family: 'Avenir Next LT Pro';
  src: url('fonts/AvenirNextLTPro-UltLt.eot');
  src: url('fonts/AvenirNextLTPro-UltLt.eot?#iefix') format('embedded-opentype'),
    url('fonts/AvenirNextLTPro-UltLt.woff') format('woff'),
    url('fonts/AvenirNextLTPro-UltLt.ttf') format('truetype'),
    url('fonts/AvenirNextLTPro-UltLt.svg#AvenirNextLTPro-UltLt') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
    font-family: 'Avenir Next LT Regular';
    src: url('fonts/AvenirNextLTW01RegularRegular.eot');
    src: url('fonts/AvenirNextLTW01RegularRegular.eot?#iefix') format('embedded-opentype'),
        url('fonts/AvenirNextLTW01RegularRegular.woff') format('woff'),
        url('fonts/AvenirNextLTW01RegularRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
