<app-header [navBG]="'sub-b'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2008-2010</h2>
<app-band-box
  [img]="'decade-b.jpg'"
  [alt]="'D/EC/AD/E/2'"
  [by]="'by Dan Cruzat'"
  ></app-band-box>

<p><a href="./decade-2.zip" class="button">download</a></p>

<h2>Credits</h2>
<p>Errythang written an produced by D Cruzat, 2008-2010<br>
essep ? produced by D Cruzat &amp; B Gunn<br>
recorded, <br>
mixed and mastered Sept-Oct 2016</p>

<h2>D2dication</h2>
<p>This chapter is for Eva and Max, who made me a better me. I am so so sorry.</p>

<h2>Thanks / Shouts</h2>
<p>Special Shoutout to KING DAZY, for errythang.</p>

<p>One Love to everyone I met through Sweetness Bakery and cafe. Big hugs Jenny and Alana. Whattup Brett C, Jana H, Kyle H, Pete F, Jane & Erin, Matt & Carrie(?) </p>

<p>Pro shouts Will F, Mark F, Tiffany J, Liz M, Carmen H, Donovan P, Steven K, Nate M, Jason M, Dan G, Bill R, Ryan S, Ben F, Robin C, Michelle W, Tom S, Kevin F, James S, Vera S, Eric P, Diggles, and David “Bloody Hatchet” F. 88mph</p>

<p>xoxo The Baker &amp; The Muffin</p>

<p class="h2">One weekend we went to Long Beach OR and everything was perfect. Cute room, handpacked ice cream, gorgeous sunsets, killer playlists. Our room had a chalkboard and we drew all over it, telling each other stories of when we were young.</p>

<p class="h2">In downtown Portland, there was a man trapped in metal, the archetype of the Worker of the American Dream, running through the rain to catch a train. Umbrella in hand, pushing forward, never moving an inch. I walked by him every day as I established a name in Portland's creative agencies.</p>


  <hr class="bump">

</div>
<app-footer [navBG]="'footer sub-b'"></app-footer>
