<app-header [navBG]="'sub-b'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2008-2010</h2>

<app-band-box
  [img]="img"
  [alt]="title"
  [by]="by"
  [src]="src"
  [lnk]="lnk"
  [dl]="dl"
  [sz]="sz"
  [col]="col"
  [ded]="ded"
  [tracks]="tracks"
  ></app-band-box>

<h2 class="h2">Credits</h2>
<p>Errythang written an produced by D Cruzat, 2008-2010<br>
essep 29 produced by D Cruzat &amp; B Gunn</p>
<p>19 features a sample of "Funky Drummer" as performed by Clyde Stubblefield, RIP</p>

<h2>Equipment</h2>
<p>MPC-2500, MPC-60, SU-700, Proteus 2K, SP-404, SM58. Acid, Reason, Live.</p>

<h2>Thanks / Shouts</h2>
<p>Special Shoutout to KING DAZY, for errythang.</p>

<p>One Love to everyone I met through Sweetness Bakery and cafe. Big hugs Jenny and crew, who kept me caffeinated and anxious. Whattup Brett C, Jana H, Kyle H, Pete F, Jane &amp; Erin (Miley Cyrus lunchbox), Matt &amp; Izzie. My dudes at No Fish Go Fish.</p>

<p>Pro shouts Will F, Mark F, Tiffany J, Liz M, Carmen H, Donovan P, Steven K, Nate M, Jason M, Dan G, Bill R, Ryan S, Ben F, Robin C, Michelle W, Tom S, Kevin F, James S, Vera S, Eric P, Diggles, and David “Bloody Hatchet” F. 88mph</p>

<p>xoxo The Baker &amp; The Muffin</p>

<p class="h2">One weekend we went to Long Beach OR and everything was perfect. Cute room, handpacked ice cream, gorgeous sunsets, killer playlists. Our room had a chalkboard and we drew all over it, telling each other stories of when we were young.</p>

<p class="h2">In downtown Portland, there was a man trapped in metal, the archetype of the Worker of the American Dream, running through the rain to catch a train. Umbrella in hand, pushing forward, never moving an inch. I walked by him every day for years as I made my own way into AgencyLand.</p>

</div>
<app-footer [navBG]="'footer sub-b'"></app-footer>
