  <router-outlet></router-outlet>

<div class="foot contain">

  <hr class="h2">

  <div class="buttons">
    <div class="fb-share-button" data-href="http://listento.thecruzat.com/decade" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flistento.thecruzat.com%2Fdecade&amp;src=sdkpreparse">Share</a></div>

    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
  </div>
</div>

