<app-header [navBG]="'sub-a'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2006-2007</h2>

<app-band-box
  [img]="img"
  [alt]="title"
  [by]="by"
  [src]="src"
  [lnk]="lnk"
  [dl]="dl"
  [sz]="sz"
  [col]="col"
  [ded]="ded"
  [tracks]="tracks"
  ></app-band-box>

<h2 class="h2">Credits</h2>
<p>Errythang written an produced by D Cruzat, 2006-2007<br>
essep 11 produced by D Cruzat &amp; B Gunn<br>
an 31 adapted by D Cruzat from a Soundtrakk production</p>

<h2>Equipment</h2>
<p>SP-202, MPC-2500, Proteus 2K, SP-404, SM58. Acid, Rebirth.</p>

<h2>Thanks / Shouts</h2>
<p>Special thanks to Andrew P, Mike M, Jamie M, Lorie H, and the ghosts in the Fremont House. The bartender at Peter's who loved MF Doom.</p>
<p>Ben G and Todd S were the OG, the pioneers, the conquerors.</p>
<p>Ben M, who could drink a surprising amount for his size. Geordi S &amp; Carrie A get the fist bump for coming to visit and remaining true. Ben S for putting up with my shit for five months. Josh &amp; Michelle M, Laurie H and whatsername for putting up with it after.</p>

<p>My Coffee Crutch crew… thank you for giving me the first scene in my new city. To the young homey who ran that place, I blank on the name (probably Ben) but you had that wise old man hustle and inspired the hell out of me. Still do a tip of the hat to Nick and Bailey's Tap Room. </p>

<p>Pro shouts to Joe L (who paid me with the SM58 I still use), Carrie A, Jen J, Liz M, Ryan S, Deborah S, Jeremy H, Mike B, Amy C, Adam S, Angela H, Marco F, Olga K, Damien B, and that sketchy ass attorney in Tigard.</p>

<p>xoxo Dr Sara Kitten for wearing those jeans<br>
xoxo Jackie S for getting me to Cascadia in the first place</p>

<p class="h2">We sat next to the expressway, Ninkasi and Rogue 22's in paper sleeves. Sipping our beers as cars zipped by. Talking about we were going to do once we made some real money for ourselves in the world. Still closer to the kids we'd been 3,000 miles away than the men that this town would make us into.</p>

<p class="h2">Next to the Fremont House was a bodega run by a great Korean family, they also did clothing repairs and alterations. We hit up that bodega for beer regular. The 501 jeans van lived in the parking lot of that bodega for more than 10 years, sadly by 2009 it had disappeared. The bodega closed in 2011, the same year the last generation of our colony left Fremont. Now, where we once played music, there are three condo buildings, and our beloved bodega is a Fire on the Mountain. To be fair, FotM has bomb ass wings.</p>

</div>
<app-footer [navBG]="'footer sub-a'"></app-footer>
