<app-header [navBG]="'sub-c'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2011-2013</h2>

<app-band-box
  [img]="img"
  [alt]="title"
  [by]="by"
  [src]="src"
  [lnk]="lnk"
  [dl]="dl"
  [sz]="sz"
  [col]="col"
  [ded]="ded"
  [tracks]="tracks"
  ></app-band-box>

<h2 class="h2">Credits</h2>
<p>Errythang written an produced by D Cruzat, 2011-2013<br>
essep 20 produced by B Gunn<br>
an 21 produced by D Cruzat based on an arrangement by B Gunn</p>

<h2>Equipment</h2>
<p>MPC-2500, MPC-60, SP-404, SM58. Acid, Live.</p>

<h2>Thanks / Shouts</h2>
<p>E+C wouldn't be possible without you Ells, you’re the Susan to my Geena.</p>

<p>One love to Josh, Guil, Rob and the Heads High hooligans.</p>

<p>Nate, Rikki, Jess, Roz, ze coolest of neighbors. Rose, Emily, Graham, Reve and Mother Rose at the Slingshot. Nicky &amp; Lefty for the Greek and El Masry for the Halal. Noel and the nerds at the gym. Don, Carissa, Dowry, Andy, Tara. All the other Speedboat characters I'm blanking on.</p>

<p>Pro shouts to Tiffany J, Nathan F, Andrew B, Kara L, John F, Melissa D, OMEDIA for the nest, Jascha KW, Austin W, Joe H.</p>

<p class="h2">I sat at every spot at the bar, got to know every regular. Heard a lot of stories. There is both cruelty and honesty among drunks, I both made and saw very strong impressions. While I skated around the edge of the abyss, I never jumped in. I gradually found purpose and pride following the loss. She tried her hardest to reach me, but I did not want to be reached.</p>

<p class="h2">Statue Man is a fixture in downtown Portland, a dedicated performance artist who never breaks character. He juggles orbs, dances in super slow motion, the entire time an unbreaking stoic expression on his face. I saw him once on the bus, the whole time in chiseled character. I felt like I understood.</p>

</div>
<app-footer [navBG]="'footer sub-c'"></app-footer>
