<app-header [navBG]="'sub-c'"></app-header>
<div class="contain body">

  <hr class="bump">

<h2 class="topper">2011-2013</h2>

<app-band-box
  [img]="'decade-c.jpg'"
  [alt]="'D/EC/AD/E/3'"
  [by]="'by Dan Cruzat'"
  ></app-band-box>

<p><a href="./decade-3.zip" class="button">download</a></p>

<h2>Credits</h2>
<p>Errythang written an produced by D Cruzat, 2011-2013<br>
essep ? produced by D Cruzat &amp; B Gunn<br>
an ? produced by D Cruzat &amp; J Grubman (Sexual Campbell)<br>
recorded, <br>
mixed and mastered Sept-Oct 2016</p>

<h2>Thanks / Shouts</h2>
<p>E+C wouldn't be possible without you Ells, you’re the Geena to my Susan.</p>

<p>One love to Josh, Guil, Rob and the Heads High hooligans.</p>

<h2>Thank you Foster Road.</h2>

<p>Nate, Rickey, Jess, Roz, ze coolest of neighbors<br>
Rose, Emily, Graham, Reve and Mother Rose at the Slingshot.<br>
Noel and the crew at the gym.<br>
Don, Carissa, Dowry, Andy, Soleil, Tara.</p>

<p>Pro shouts to Tiffany J, Nathan F, Andrew B, Kara L, John F, Melissa D, OMEDIA for the nest, Jascha KW, Austin W</p>

<p class="h2">Lacey Lin, who deserved far better than what I had to offer.<br>
Somewhere I hope the bumblebee sings.</p>

<p class="h2">Statue Man is a fixture in downtown Portland, a dedicated performance artist who never breaks character. He juggles orbs, dances in super slow motion, the entire time an unbreaking stoic expression on his face. He makes himself his own work of art.</p>

  <hr class="bump">

</div>
<app-footer [navBG]="'footer sub-c'"></app-footer>
